{# templates/nav.html.twig #}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/compte">Mon Compte</a>
     <a class="navbar-brand" href="/logout">Deconnexion</a>
  </nav>
</div>